# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual Environments
.venv/
venv/

# Environment Variables
.env
.env.*

# Database
*.db
*.sqlite3

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
dist-ssr/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# =========================
# IDEs
# =========================
.vscode/*
!.vscode/extensions.json

.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?